p {
	font-size: 10pt;
}

li {
    margin: 12px 0 3px 0;
    }
    
.civtitle {
    float:left; 
    width:800px
}

kbd {
    color: blue;
}

footer {
	float: bottom; 
	text-align: center;
	margin: 12px 0 3px 0;
}